HOST=0.0.0.0
PORT=1337
APP_KEYS=tobemodified
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified
VITE_FIREBASE_API_KEY=AIzaSyDyX2QodsfQApPTeLCn8-EuikwrYYi7Vh0
VITE_FIREBASE_AUTH_DOMAIN=perritosrescatados-10fdd.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=perritosrescatados-10fdd
VITE_FIREBASE_APP_ID=1:282040027754:web:c45ed8d8e9d2de1ef55813